<%- include('partials/header') %>

<body>
  <div class="myContainer">
    <div class="panel-container">
      <div class="panel">
        <h1>ik.squeeze.it</h1>
        <h5>If life gives you URLs: </br>squeeze it!</h5>
        <a href="/register" role="button" type="button" class="btn btn-light myBtn">Register</a>
        <a  href="/login" role="button" type="button" class="btn btn-light myBtn" >Login</a>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>

